<footer class="footer">
  <div class="footer-linea">
    
    <div class="footer-left">
      <span class="nombre">Cristo Macías</span>
      <span class="rol">{{ 'components.footer.role' | translate }}</span>
    </div>

    <div class="footer-center">
      <span>{{ 'components.footer.copyright' | translate }}</span>
    </div>

    <div class="footer-social">
      <a mat-icon-button href="https://github.com/" target="_blank" [attr.aria-label]="'components.footer.githubAria' | translate">
        <img src="assets/github-blanco.png" [alt]="'components.footer.githubAlt' | translate" class="icono-github">
      </a>

      <a mat-icon-button href="https://linkedin.com/" target="_blank" [attr.aria-label]="'components.footer.linkedinAria' | translate">
        <img src="assets/linkdn-blanco2.png" [alt]="'components.footer.linkedinAlt' | translate" class="icono-linkedin">
      </a>

      <a mat-icon-button href="mailto:tuemail@correo.com" target="_blank" [attr.aria-label]="'components.footer.emailAria' | translate">
        <img src="assets/gmail-blanco.png" [alt]="'components.footer.emailAlt' | translate" class="icono-email">
      </a>
    </div>

  </div>
</footer>