<div class="portada">
  <img src="/assets/imagen-portada.JPG" [alt]="'pages.home.hero.imageAlt' | translate" class="imagen-portada">

  <div class="overlay-portada">
    <div class="contenido-portada">
      <div class="texto-portada">
        <h1>Cristo Macías</h1>
        <p>{{ 'pages.home.hero.role' | translate }}</p>
      </div>

      <div class="disponibilidad">
        <app-disponibilidad></app-disponibilidad>
      </div>
    </div>
  </div>
</div>

<app-metodo-trabajo></app-metodo-trabajo>
<app-numeros-vistazo></app-numeros-vistazo>
